// FEED AND PLAY
$backgroundColour: #6d6e72;
$highlight1: #01b5f2;
$highlight2: #7d2b91;
$lightGray: #b0b0b0;
$blackGray: #000000;

$defaultRadius: 4pt;

$default-font: Helvetica Nueue, Helvetica, sans-serif;
$font-size-large: 24pt;
$font-size-medium: 16pt;
$font-size-small: 12pt;
$font-size-xsmall: 10pt;

$half-space: 0.5em;

$brightWhite: #ffffff;

@mixin border-radius($radius) {
  border-radius: $radius;
  -moz-border-radius: $radius;
  -webkit-border-radius: $radius;
}

@mixin round($width) {
  width: $width;
  @include border-radius($width/2);
  border: 3px solid $highlight1;
}
