@import 'vars';
@import 'typography';

body {
  font-family:      $default-font;
  font-size:        $font-size-small;
  color:            $brightWhite;
  background-color: $backgroundColour;
  margin:           0; padding: 0;
}

a {
  color:           $brightWhite;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

.darker{
  color: #E0E0E0;
}

.big{
  font-size: 30px;
}

.clearfix {
  clear: both;
}

.paragraph {
  width: 60%;
  margin: $half-space;
  &.left{
    float: left;
  }
}

.user-profile {
  position: relative;
  h2 {
    margin: $half-space 0;
    font-size: 32pt;
    a.button {
      display: inline-block;
      cursor: pointer;
      background-color: $brightWhite;
      color: $blackGray;
      padding: 4pt 12pt;
      font-size: 12pt;
      font-weight: bold;
      box-shadow: 2pt 2pt 4pt darken($lightGray, 20%);
      @include border-radius($defaultRadius);
      &:hover {
        text-decoration: none;
      }
    }
  }
  h3 {
    color: $blackGray;
  }
  p {
    margin: 16pt 0;
    line-height: 16pt;
  }
}

.teams-list {
  ul {
    list-style: none;
    margin: 0; padding: 0;
    li {
      position: relative;
      height: 24pt;
      font-size: 20pt;
      margin: 4pt 0;
      padding: 8pt 0;
      div.team-name {
        position: absolute;
        left: 0;
      }
      div.team-role {
        position: absolute;
        right: 0;
        color: $blackGray;
      }
    }
  }
}


.black{
  color: $blackGray;
  &.right{
    float: right;
  }
}



.center{
  margin: auto;
}

.text-block {
  @include border-radius($defaultRadius);
  overflow: auto;
  background-color: $lightGray;
  padding:          $half-space 4*$half-space;
  margin:           8*$half-space;
  img.right {
    float: right;
  }

}

.comment-block {
  @include border-radius($defaultRadius);
  background-color: $lightGray;
  padding:          $half-space 4*$half-space;
  margin:           8*$half-space;
  overflow: auto;
  img.left {
    float: left;
    margin: 0 30px 0px 0px;
  }
  .right{
    float: right;
  }
}

nav {
  ol {
    margin:           0; padding: 0;
    list-style:       none;
    background-color: darken($backgroundColour, 20%);
    border-bottom: 2px solid $highlight2;

    li {
      display: inline-block;
      padding: 8pt 12pt;

      a {
        color:           $brightWhite;
        text-decoration: none;
      }

      &.right {
        float: right;
      }
    }
  }
}

form {
  ol {
    margin:           0; padding: 0;
    list-style:       none;
    li {
      margin-bottom: 2*$half-space;
      label {
        display: block;
      }
      &.inline {
        label {
          display: inline-block;
          width: 80pt;
          text-align: right;
        }
      }
    }
  }
}

.contests{
  ol {
    list-style:       none;
    li {
      padding: 8pt 12pt;
      padding: 8pt 12pt;
    }
  }

}

.leader{
    ol {
      list-style:       none;
      li {
        padding: 8pt 12pt;
        display: inline-block;
        padding: 8pt 12pt;
        img.left {
          float: left;
          margin: 0 30px 0px 0px;
        }
      }
  }
  p {
      padding: 8pt 12pt;
  }
  .right {
    float: right;
  }
}

.members{
    ol {
      list-style:       none;
      li {
        padding: 8pt 12pt;
        display: inline-block;
        padding: 8pt 12pt;
      }
   }
   .round {
     @include round(100pt);
   }
}

.video {
    ol {
      list-style:       none;
      li {
        display: inline-block;
        margin-bottom: 2*$half-space;
        padding: 8pt 12pt;
      }
  }
}

input {
  font-size: $font-size-small;
  &[type=text],&[type=password] {
    padding: 3pt 8pt;
  }
}

button {
  background-color: lighten($backgroundColour, 50%);
  font-size: $font-size-medium;
  padding: $half-space 4*$half-space;
  border: 2px solid darken($backgroundColour, 5%);
  @include border-radius($defaultRadius*2);
  &.small{
    padding: 3pt 8pt;
    font-size: $font-size-small;
  }
}

.round {
  @include round(150pt);
}

img.center {
  display: block;
  margin: $half-space auto;
}
