@import 'vars';
@import 'typography';

body {
  font-family: Helvetica, sans-serif;
  color: $font-color--dark;
  background-color: $background--light;
  padding: $half-space;
}

ol {
  list-style: none;

  li {
    display: inline-block;
    padding: 0 12pt;





    a {

      font-weight: bold;
      text-decoration: none;
    }
  }
}