@import 'vars';
@import 'typography';

body {
  font-family:      $default-font;
  font-size:        $font-size-small;
  color:            $brightWhite;
  background-color: $backgroundColour;
  margin:           0; padding: 0;
}

a {
  color:           $brightWhite;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

.black{
  color:#000000 ;
  &.right{
    float: right;
  }
}

// .right{
//   float: right;
// }

// .left{
//   float: left;
// }

.center{
  margin: auto;
}

.text-block {
  @include border-radius($defaultRadius);
  background-color: $lightGray;
  padding:          $half-space 4*$half-space;
  margin:           8*$half-space;
  img.right {
    position: relative;
    left: 800px;
  }
  &.right{
    float: right;
  }

}

.comment-block {
  @include border-radius($defaultRadius);
  background-color: $lightGray;
  padding:          $half-space 4*$half-space;
  margin:           8*$half-space;
  overflow: auto;
  img.left {
    float: left;
    margin: 0 30px 0px 0px;
  }
  .right{
    float: right;
  }
}

nav {
  ol {
    margin:           0; padding: 0;
    list-style:       none;
    background-color: darken($backgroundColour, 20%);
    border-bottom: 2px solid $highlight2;

    li {
      display: inline-block;
      padding: 8pt 12pt;

      a {
        color:           $brightWhite;
        text-decoration: none;
      }

      &.right {
        float: right;
      }
    }
  }
}

form {
  ol {
    margin:           0; padding: 0;
    list-style:       none;
    li {
      margin-bottom: 2*$half-space;
      label {
        display: block;
      }
      &.inline {
        label {
          display: inline-block;
          width: 80pt;
          text-align: right;
        }
      }
    }
  }
}

.leader{
    ol {
      list-style:       none;
      li {
        padding: 8pt 12pt;
        display: inline-block;
        padding: 8pt 12pt;
        img.left {
          float: left;
          margin: 0 30px 0px 0px;
        }
      }

  }
}

.members{
    ol {
      list-style:       none;
      li {
        padding: 8pt 12pt;
        display: inline-block;
        padding: 8pt 12pt;
      }
   }
   .round {
     @include round(100pt);
   }
}

.video {
    ol {
      list-style:       none;
      li {
        display: inline-block;
        margin-bottom: 2*$half-space;
        padding: 8pt 12pt;
      }
  }
}

input {
  font-size: $font-size-small;
  &[type=text],&[type=password] {
    padding: 3pt 8pt;
  }
}

button {
  background-color: lighten($backgroundColour, 50%);
  font-size: $font-size-medium;
  padding: $half-space 4*$half-space;
  border: 2px solid darken($backgroundColour, 5%);
  @include border-radius($defaultRadius*2);
  &.small{
    padding: 3pt 8pt;
    font-size: $font-size-small;
  }
}

.round {
  @include round(150pt);
}

img.center {
  display: block;
  margin: $half-space auto;
}

// img.left {
//   float: left;
//   margin: $half-space $half-space*2;
// }

// img.right {
//   float: right;
//   margin: $half-space $half-space*2;
// }
