<!doctype html>

<html class="no-js">
<head>
    <base href="/">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title ng-bind="pageTitle"></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">

    <link rel="stylesheet" href="css/main.css">
</head>
<body>

<nav ng-controller="SessionController as session">
    <ol>
        <li><a href="/">Home</a></li>

        <li ng-if="session.isValid()"><a ng-href="/person/{{ session.getPersonId() }}">Backstage</a></li>

        <li ng-if="session.isValid()"><a href="/open_positions">Opportunities</a></li>

        <li ng-if="session.isNotValid()" class="right"><a href="/login">Log In!</a></li>
        <li ng-if="session.isValid()" class="right"><a ng-click="session.userClickedLogOut()">Log Out!</a></li>
    </ol>
</nav>

<!--<nav>-->

    <!--<a href="/login">Log in</a>-->

    <!--<p>Logged in: {{ session.currentUserName() }}</p>-->

    <!--<h1> Members</h1>-->
    <!--<ol>-->
        <!--<li ng-repeat="person in session.allPeople()">-->
            <!--<a href="/person/{{person.id}}">{{ person.first_name }}</a>-->
        <!--</li>-->
    <!--</ol>-->

    <!--<h1> Teams</h1>-->
    <!--<ol>-->
        <!--<li ng-repeat="team in session.allTeams()">-->
            <!--<a href="/team/{{team.id}}">{{ team.name }}</a>-->
        <!--</li>-->
    <!--</ol>-->
<!--</nav>-->

<div ui-view></div>

<script src="js/main.js"></script>
</body>
</html>
