<h1>Contests</h1>


<div class="contests" ng-repeat="contest in contest.getContests()">

    <ol>
        <li>
          title: {{contest.title}}
        </li>
        <li>
          description:   {{contest.description}}
        </li>
        <li>
          date:   {{contest.due_date | date:'MMMM d, yyyy'}}
        </li>
        <li>
          rules and regulations:   {{contest.rules_and_regulations}}
        </li>
            <button class="small" ng-click="contest.enter()"> enter </button>
    </ol>

</div>
