<h1>Back  Stage</h1>

<br>

<a href="/open_positions">Opportunities</a>

<span ng-if="person.personIsNotEmpty()">
  <div class="text-block">
     {{person.stageName}}
     <a href="/profile_edit/{{person.personId}}"> edit </a><br>
     <span class="black">  {{person.currentUserName}} </span>
     <img class="round right" ng-src="http://localhost:3000/{{person.avatar|trusted}}"/>
       
  </div>

  <div class="text-block">

      <div ng-repeat="team in person.teams">
            <br>
            <a href="/team/{{team}}"> {{person.getTeamName(team)}} </a>
            <span class="black right">  {{person.getTeamRole(team)}} </span>
            <br><br>
      </div>
  </div>
</span>
