<h1>Person View</h1>

<br>
<span ng-if="person.personIsNotEmpty()">

Name: {{person.currentUserName}}
    <br><br>
    Teams: <br><br>
    <div ng-repeat="team in person.teams">
        Team Name: {{person.getTeamName(team)}} <br>
        Role: {{person.getTeamRole(team)}}<br>
        <br>
    </div>

<br>
Videos:
    <br><br>
<div ng-repeat="team in person.teams">
    Team: {{person.getTeamName(team)}} <br>
    Role: {{person.getTeamRole(team)}}<br>
    <ol>
        <li ng-repeat="video in person.getVideos(team)">
            <iframe width="280" height="157" ng-src="{{person.getYoutubeLink(video)|trusted}}" frameborder="0"
                    allowfullscreen></iframe>
        </li>
    </ol>

</div>

    Teams Looking For People
     <br> <br>


    <div ng-repeat="team in person.allTeams()">

        Team Name: {{team.name}}
        <ol>
            Role(s):
            <li ng-repeat="role in person.getAdvertisedRoles(team.team_id)">

                {{ role }} <input type="submit" ng-click="person.addTeamMembershipApplication(role,team.team_id)"
                                  value="apply"/>
            </li>
        </ol>

    </div>

</span>

