<h1>update profile</h1>
<br><br>
{{person.validUser}}
<span ng-if="person.validUser">

<br><br>
<form>
  <ol>
    <li>
      stage Name: <input type="text" ng-model="person.stageName">
    </li>
    <li>
      first  name: <input type="text" ng-model="person.firstName">
    </li>
    <li>
      last  name: <input type="text" ng-model="person.lastName">
    </li>
    <li>
      email: <input type="text" ng-model="person.email">
    </li>
    <li>
      password: <input type="password" ng-model="person.password">
    </li>
    <button class="small" ng-click="person.updatePerson()"> update </button>
  </ol>
</form>
<br>

</span>
<form>
  <input id="file" type="file">
  <button class="small" ng-click="person.userClickedUploadButton()">upload </button>
</form>

<br>
create Contest
<br><br>
<form>
  <ol>
    <li>
      title: <input type="text" ng-model="person.title">   <br>
    </li>
    <li>
      description: <input type="text" ng-model="person.description">  <br>
    </li>
    <li>
      due date: <input type="date" ng-model="person.dueDate"> <br>
    </li>
    <li>
      rules and regulations: <input type="text" ng-model="person.rules"><br>
    </li>
  </ol>
    <span ng-if="person.contestEnabled()">
      <button class="small" ng-click="person.addContest()"> add </button>
    </span>
</form>
