update profile
<br><br>

{{person.currentUserName}}

<br><br>
<form>
  first  name: <input type="text" ng-model="person.newFirstName">
  <span ng-if="person.firstNameEnabled()">
    <input type="submit" ng-click="person.updateFirstName()" value="update"/>
 </span>
</form>

<form>
  last  name: <input type="text" ng-model="person.newLastName">
  <span ng-if="person.lastNameEnabled()">
    <input type="submit" ng-click="person.updateLastName()" value="update"/>
 </span>
</form>

<form>
    email: <input type="text" ng-model="person.newEmail">
  <span ng-if="person.emailEnabled()">
    <input type="submit" ng-click="person.updateEmail()" value="update"/>
 </span>
</form>
<form>
    password: <input type="password" ng-model="person.newPassword">
  <span ng-if="person.passwordEnabled()">
    <input type="submit" ng-click="person.updatePassword()" value="update"/>
  </span>
</form>

<form>
  <input id="file" type="file">
  <input type="submit" ng-click="person.userClickedUploadButton()" value="upload"/>
</form>
