<h1>update profile</h1>
<br><br>
{{person.validUser}}
<span ng-if="person.validUser">

<br><br>
<form>
  <ol>
    <li>
      first  name: <input type="text" ng-model="person.firstName">
    </li>
    <li>
      last  name: <input type="text" ng-model="person.lastName">
    </li>
    <li>
      email: <input type="text" ng-model="person.email">
    </li>
    <li>
      password: <input type="password" ng-model="person.password">
    </li>
    <button class="small" ng-click="person.updatePerson()"> update </button>
  </ol>
</form>
<br>

</span>
<form>
  <input id="file" type="file">
  <button class="small" ng-click="person.userClickedUploadButton()">upload </button>
</form>
