Sign up


<form>
  <ol>
    <li>
      stage Name: <input type="text" ng-model="person.stageName">
    </li>
    <li>
      first  name: <input type="text" ng-model="person.firstName">
    </li>
    <li>
      last  name: <input type="text" ng-model="person.lastName">
    </li>
    <li>
      email: <input type="text" ng-model="person.email">
    </li>
    <li>
      password: <input type="password" ng-model="person.password">
    </li>
    <button class="small" ng-click="person.updatePerson()"> sign up </button>
  </ol>
</form>
