Sign up


<form>
  <ol>
    <li>
      stage Name: <input type="text" ng-model="signup.stageName">
    </li>
    <li>
      first  name: <input type="text" ng-model="signup.firstName">
    </li>
    <li>
      last  name: <input type="text" ng-model="signup.lastName">
    </li>
    <li>
      email: <input type="text" ng-model="signup.email">
    </li>
    <li>
      password: <input type="password" ng-model="signup.password">
    </li>
    <span ng-if="signup.signupEnabled()">
        <button class="small" ng-click="signup.updatePerson()"> sign up </button>
    </span>
  </ol>
</form>
