<h1> Team View</h1>

{{team.teamName}}

<br> <br>
Members:

<span ng-if="team.teamIsNotEmpty()">
<ol>
    <li ng-repeat="person in team.teamMembers">
        <a href="/person/{{person}} "> {{team.getFirstName(person)}} </a> <br> Role:
        {{team.getTeamRole(person)}}
    </li>
</ol>


<br> <br>
videos:
<br> <br>

<ol>
    <li ng-repeat="video in team.videos">
        <iframe width="280" height="157" ng-src="{{team.getYoutubeLink(video)|trusted}}" frameborder="0"
                allowfullscreen></iframe>
    </li>
</ol>

Looking for team roles:


<br>
<table>
    <thead>
    <th>Role</th>
    </thead>
    <tbody>
    <tr ng-repeat="role in team.lookingForRoles">
        <td> {{role}}</td>

        <td>
            <button ng-click="team.deleteLookingForRole(role)">remove</button>
        </td>
    </tr>
    </tbody>
</table>

    <form>
        Role: <input type="text" ng-model="team.newRole">
  <span ng-if="team.addEnabled()">
    <input type="submit" ng-click="team.addLookingForRole()" value="add"/>
 </span>
    </form>

</span>