<span ng-if="team.isPartOfTeam()">
<h1>Team Management</h1>

Looking for team roles:


<br>
<table>
    <thead>
    <th>Role</th>
    </thead>
    <tbody>

    <tr ng-repeat="role in team.lookingForRoles">
        <td> {{role.role}}</td>

        <td>
            <button class="small" ng-click="team.deleteAdvertisedRole(role)">remove</button>
        </td>
        <td>
            <form>
                <input type="text" ng-model="team.editRole">
        <span ng-if="team.editEnabled()">
            <button class="small" ng-click="team.updateAdvertisedRole(role)">edit </button>
        </span>
            </form>

        </td>
    </tr>
    </tbody>
</table>

    <form>
        Role: <input type="text" ng-model="team.newRole">
  <span ng-if="team.addEnabled()">
    <button class="small" ng-click="team.addAdvertisedRole()"> add </button>
 </span>
    </form>

    <br>

 People Applied For Roles

 <div ng-repeat="application in team.applications">

          <span ng-if="team.getOpening(application.opening_id).team_id == team.teamId">

              {{team.getFirstName(application.person_id)}}

              role: {{team.getOpening(application.opening_id).role}}
              <button class="small"
                     ng-click="team.acceptApplicant(application,application.person_id)">
                     accept </button>
              <button class="small"
                     ng-click="team.rejectApplicant(application,application.person_id)">
                     reject </button>
              <!--{{application}}-->
          </span>

 </div>
</span>
