<h1> Team View</h1>

{{team.teamName}}
<br>
  <a href="/team_management/{{team.teamId}}"> team management </a>
<br> <br>

<div class="leader">
  <ol>
      <li ng-repeat="person in team.teamMembers">
        <span ng-if="team.isLeader(team.teamId,person)">

            <img class="round" ng-src="http://localhost:3000/{{team.getAvatar(person)}}"/>
            <a href="/person/{{person}} ">  {{team.getFirstName(person)}} {{team.getLastName(person)}} </a>
        </span>
      </li>
  </ol>
</div>

The Crew:

<span ng-if="team.teamIsNotEmpty()">
<div class="members">
  <ol>
      <li ng-repeat="person in team.teamMembers">
        <span ng-if="team.isLeader(team.teamId,person)==false">
          <img class="round" ng-src="http://localhost:3000/{{team.getAvatar(person)}}"/>
          <br>          <a href="/person/{{person}} ">  {{team.getFirstName(person)}} <br> {{team.getLastName(person)}} </a> <br>
            {{team.getTeamRole(person)}}
        </span>
      </li>
  </ol>
</div>

<br> <br>
videos:
<br> <br>
<div class="video">
  <ol>
      <li ng-repeat="video in team.videos">

          <a href="/video/{{video.id}} "> {{video.youtube_link}}   </a>
      </li>
  </ol>
</div>

</span>
