<h1>Video View</h1>

<iframe width="80%" height="515" align="middle" ng-src="{{video.getYoutubeLink()|trusted}}" frameborder="0"
        allowfullscreen></iframe>
        <br>
        score:
        {{video.getScore()}}
        <br>
        # of votes:
        {{video.getNumberOfVotes()}}
        <br>
        <input type="submit"
               ng-click="video.like()"
               value="Like"/>
        <br>
        <input type="submit"
               ng-click="video.dislike()"
               value="Dislike"/>

<div class="comment-block">
  <div ng-repeat="comment in video.getComments()">

      <img class="round left" ng-src="http://localhost:3000/{{video.getAvatar(comment.person_id)|trusted}}"/>
     {{video.getFullName(comment.person_id)}}
      <span class="right"> {{comment.created_at| date:'MMMM d yyyy | h:m a'}} </span>

      <br><br><br>
      {{comment.text}}

  </div>
</div>
